// =body

body {
	margin: 0;
	padding: 0;
	background: #f5f5f5;
	font: 18px/1 'Segoe UI', Calibri, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: 'liga', 'kern';
	color: $color-base;
}

// =selection

::-moz-selection {
	background: #135b5d;
	color: #fff;
}

::selection {
	background: #135b5d;
	color: #fff;
}

// =inline

a {
	text-decoration: none;
	color: $color-primary;
	transition: color .3s;
}

a:hover {
	color: lighten($color-primary, 10);
}

a:active {
	color: darken($color-primary, 10);
	transition: none;
}

a img {
	border: none;
}

abbr[title] {
	border: none;
}

abbr:hover {
	cursor: help;
}

img {
	width: 100%;
	height: auto;
}

.loading {
	background: #2d3035 url(#{$path-img}/loading.gif) no-repeat center center;
	font-size: 16px;
	text-align: center;
	color: #ccc;
}

// =block

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	font-weight: normal;
}

p {
	line-height: 1.6;
}

//
// =special tags
// -----------------------------------------------------------------------------

html, body, .page {
	width: 100%;
	height: 100%;
}

#browse-update {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	text-align: center;
	background: #1d1f23;
	color: #eee;
	z-index: 1;
}

.hidden{
	opacity: 0;
}

.visible{
	opacity: 1;
}

.text-hide {
	position: absolute;
	font-size: 0;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
}

.none {
	display: none !important;
}

//
// =header
// -----------------------------------------------------------------------------

.header {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #282a2f;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	color: #fff;
}

.skip-content {
	position: absolute;
	top: -50px;
	left: 50%;
	z-index: 1;
	width: 300px;
	margin-left: -150px;
	padding: 10px 0 15px;
	text-align: center;
	background: #1d1f23;
	color: #fff;
}

.skip-content:hover, .skip-content:active, .skip-content:focus {
	top: 0;
	color: #fff;
}

// =logo

.logo {
	position: relative;
	top: 45%;
	z-index: 1;
	max-width: 300px;
	margin: -125px auto 0 auto;
	padding: 0 15px;
	text-align: center;
}

.symbol, .type {
	display: block;
	width: 300px;
}

.symbol {
	height: 186px;
	margin-bottom: 20px;
	filter: drop-shadow(0px 5px 0 rgba(0, 0, 0, 0.1));
    animation-delay: 0;
}

.type {
	height: 29px;
	margin-bottom: 10px;
	filter: drop-shadow(0px 3px 0 rgba(0, 0, 0, 0.1));
    animation-delay: 1s;
}

.jobtitle {
	font: 15px 'trebuchet ms', 'open sans', 'segoe ui', sans-serif;
	white-space: nowrap;
	letter-spacing: 1px;
	text-shadow: 0 1px 1px #000;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
    animation-delay: 1s;
}

// to-content

.to-content {
	position: absolute;
	bottom: 20px;
	left: 50%;
	z-index: 1;
	margin-left: -30px;
	background: rgba(0, 0, 0, .1);
	border: 2px solid #fff;
	border-radius: 35px;
	line-height: 0;
	text-align: center;
	color: #fff;
	transition: border-color .3s;
    animation-delay: 2s;

	&:hover, &:active {
		border-color: $color-primary;
		color: $color-primary;

		.icon {
			fill: $color-primary;
		}
	}

	.icon {
		width: 60px;
		height: 60px;
		fill: #fff;
		transition: all .3s;
        animation: to-content 1s infinite;
	}
}

@keyframes to-content {
	0%   { transform: translateY(0px); }
	25%  { transform: translateY(2px); }
	50%  { transform: translateY(0px); }
	75%  { transform: translateY(-2px);}
	100% { transform: translateY(0px); }
}

#header-canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
    animation-delay: 3s;
}

.header-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background: #222;
	opacity: .5;
}

//
// =nav
// -----------------------------------------------------------------------------

.nav {
	display: none;
}

//
// =sections
// -----------------------------------------------------------------------------

.section, .footer {
	clear: both;
	overflow: hidden;
	padding: 40px 0;
	text-align: center;
}

.title {
	margin-bottom: 40px;
	font-size: 48px;
	font-family: 'Segoe UI Light', 'Segoe UI', 'Open Sans', arial, sans-serif;
}

#portfolio {
	background: #282b2d url(#{$path-img}/dark-pattern.jpg);
	color: #eee;
}

#about, #education {
	padding-bottom: 20px;
}

//
// =about
// -----------------------------------------------------------------------------

#about .avatar {
	display: block;
	width: 850px;
	max-width: 850px;
	height: 315px;
	margin: 0 auto 15px auto;
}

//
// =services
// -----------------------------------------------------------------------------

.service {
	width: 30%;
	display: inline-block;
	margin-bottom: 20px;
	padding: 0 1%;
	vertical-align: top;

	.circle {
		position: relative;
		width: 200px;
		height: 200px;
		margin: 0 auto 30px auto;
		border-radius: 50%;
		background: #27aeba;
		line-height: 200px;
	}

	.icon {
		width: 128px;
		height: 128px;
		vertical-align: middle;
		background: transparent;
	}

	.name {
		margin-bottom: 5px;
		font-size: 24px;
	}

	.description {
		font-size: 16px;
	}
}

//
// =skills
// -----------------------------------------------------------------------------

#skills, #footer {
	background: #ebebeb;

	.skill {
		display: inline-block;
		padding: 10px;
		margin: 0 3px 10px 3px;
		background: #555;
		list-style: none;
		color: #eee;
	}
}

//
// =portfolio
// -----------------------------------------------------------------------------

.projects {
		position: relative;
		margin: 0 auto;

	.link {
		position: relative;
		width: 300px;
		display: inline-block;
		margin: 0 10px 40px 10px;
		padding-top: 10px;
		color: #ccc;
		transition: all .2s;

		.img {
			display: block;
			width: 300px;
			height: 200px;
			margin: 0 auto;
			transition: all .2s;
			filter: grayscale(50%);
			opacity: .8;
			transition: all .2s;
		}

		.name {
			font-size: 18px;
			line-height: 30px;
		}

		&:hover {
			color: #fff;
			transform: scale(1.02);
			cursor: -webkit-zoom-in;
			cursor: zoom-in;

			.img {
				filter: grayscale(0);
				opacity: 1;
				box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
			}

			.name {
				text-shadow:0 0px 20px rgba(0, 0, 0, 1)
			}
		}

		&:active {
			transform: scale(1);
			transform: translateY(3px);

			.img {
				filter: grayscale(100%);
			}
		}

		&:focus {
			outline: none;
		}
	}

	//
	// =slick-slider
	// -----------------------------------------------------------------------------

	.slick-arrow {
		width: 50px;
		height: 50px;
		margin-top: -30px;
		opacity: .8;
		transition: all .2s;

		&:hover, &:focus {
			opacity: 1;
		}

		&:active {
			opacity: .8;
		}

		&:before {
			content: '';
		}
	}

	.slick-disabled {
		opacity: .3;

		&:hover, &:focus, &:active {
			opacity: .3;
		}

		&:active {
			//transform: scale(.9);
		}
	}

	.slick-prev {
		left: -40px;
		background: url(#{$path-img}/icons/angle-left.svg);
		background-size: cover;
	}

	.slick-next {
		right: -40px;
		background: url(#{$path-img}/icons/angle-right.svg);
		background-size: cover;
	}

	.slick-dots {
		bottom: 0;

		li {
			margin: 0 5px;

			button:before {
				font-size: 20px;
				color: #fff;
				opacity: .7;
				transition: all .2s;
			}

			button:hover:before, button:focus:before {
				color: #fff;
				opacity: .9;
			}

			button:active:before {
				color: #1ca379;
				transform: scale(.9);
			}
		}

		.slick-active button:before  {
			color: #1ca379;
			opacity: 1;
		}

		.slick-active button:hover:before, .slick-active button:focus:before  {
			color: #1ca379;
			opacity: 1;
		}

		.slick-active button:active:before  {
			color: #1ca379;
			opacity: 1;
		}
	}
} // .projects

//
// =educatoins & certifications
// -----------------------------------------------------------------------------

.education, .certification, .experience {
	margin-top: 40px;
	line-height: 1.5;

	.name {
		font-size: 22px;

		a {
			color: $color-base;
		}
	}

	.time {
		display: block;
		font-size: 16px;
		color: #999;
	}
}

//
// =complementary
// -----------------------------------------------------------------------------

.recshow {
	display: inline-block;
	padding: 0 20px;

	.icon {
		width: 40px;
		height: 40px;
		fill: $color-primary;
		transition: all .3s;
        animation: to-content 1s infinite;
	}

	&:hover .icon {
		fill: lighten($color-primary, 10);
	}
}

//
// =single
// -----------------------------------------------------------------------------

.single {
	background: #121314;
	color: #ccc;

	.container {
		max-width: 1000px;
		margin: 0 auto;
	}

	header {
		height: 60px;
		background: #222326;
		margin-bottom: 10px;

		a {
			display: flex;
			padding: 10px 0;
			opacity: .9;
			transition: all .2s;

			&:hover {
				opacity: 1;
			}
		}

		.logo {
			display: inline-block;
			text-align: left;
		}

		.symbol, .type {
			height: 40px;
		}

		.symbol {
			width: 65px;
			margin-right: 5px;
		}

		.type {
			width: 160px;
		}
	}

	.container {
		padding: 0 10px;

		.main {
			display: flex;
		}
	}

	.main {
		display: flex;

		.project {
			flex-grow: 1;
			margin-right: 10px;
		}

		.project-img {
			display: block;
		}

		.project-info {
			padding: 10px;
			background: #232323;
		}

		.project-title {
			font-size: 18px;
			text-align: left;
		}
	}

	.aside {
		flex-basis: 300px;
		background: #232323;

		.project {
			display: flex;
		}

		.project-img {
			display: block;
			width: 50%;
			height: 150px;
		}

		.project-info {
			padding: 10px;
			background: #232323;
		}

		.project-title {
			font-size: 18px;
			text-align: left;
		}
	}
}

//
// error 404
// -----------------------------------------------------------------------------

.error404 {

	.to-content {
		display: none;
	}

	.container {
		position: absolute;
		top: 70%;
		width: 100%;
		max-width: none;
		text-align: center;
		color: #fff;
        animation-delay: 1.5s;
	}

	.title {
		margin-bottom: 5px;
		font-size: 60px;
	}

	.subtitle {
		margin-bottom: 5px;
		font-size: 24px;
	}

	.description {
		font-size: 16px;
	}
}

//
// =footer
// -----------------------------------------------------------------------------

.footer {
	font-size: 16px;

	a {
		display: inline-block;
		margin: 0 3px 10px 3px;
		padding: 10px 20px;
		background: #333;
		color: #eee;
		transition: background-color .3s;

		&:hover, &:active {
			background: $color-primary;
		}
	}

	.to-top {
		display: block;
		width: 80px;
		min-height: 35px;
		margin: 20px auto 0;
		padding: 5px 20px;

		.icon {
			width: 40px;
			height: 40px;
			fill: #fff;
			transition: all .3s;
            animation: to-content 1s infinite;
		}
	}
}

//
// =animations
// -----------------------------------------------------------------------------

.animation {
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

// fade in

@keyframes fade-in {
	from { opacity: 0; } to { opacity: 1; }
}

.fade-in {
    animation-name: fade-in;
}

// fade up

@keyframes fade-in-up {
	from { transform: translateY(25px); opacity: 0; } to { opacity: 1; }
}

.fade-in-up {
    animation-name: fade-in-up;
}

// fade down

@keyframes fade-in-down {
	from { transform: translateY(-25px); opacity: 0; } to { opacity: 1; }
}

.fade-in-down {
    animation-name: fade-in-down;
}

// fade left

@keyframes fade-in-left {
	from { transform: translateX(-25px); opacity: 0; } to { opacity: 1; }
}

.fade-in-left {
    animation-name: fade-in-left;
}

// fade right

@keyframes fade-in-right {
	from { transform: translateX(25px); opacity: 0; } to { opacity: 1; }
}

.fade-in-left {
    animation-name: fade-in-right;
}

// fade out

@keyframes fade-out {
	from { opacity: 1; } to { opacity: 0; }
}

.fade-out {
    animation-name: fade-out;
}

// fade out right

@keyframes fade-out-right {
	from { opacity: 1; } to { transform: translateX(25px); opacity: 0; }
}

.fade-out-right {
    animation-name: fade-out-right;
}

//
// =media
// -----------------------------------------------------------------------------

@media (max-width: 1450px) {
	.carousel {
		max-width: 970px;
	}
}

@media (max-width: 1100px) {
	.carousel {
		max-width: 650px;
	}
}

@media (max-width: 800px) {
	.carousel {
		max-width: 320px;
	}
}

@media (max-width: 1300px) {

	#about .avatar {
		width: 100%;
		height: auto;
	}

	// =section
	// -----------------------------------------------------------------------------

	.section, .footer {
		padding: 40px 10px;
	}
}

@media (max-width: 900px) {

	// =services
	// -----------------------------------------------------------------------------

	.service {
		float: none;
		width: 100%;
		margin-bottom: 20px;
		padding: 0;
	}
}

@media (max-width: 380px) {

	// =body
	// -----------------------------------------------------------------------------

	body {
		font: 14px/1 sans-serif;
	}

	.title {
		font: 24px sans-serif;
		margin-bottom: 20px;
	}

	// =header
	// -----------------------------------------------------------------------------

	.symbol, .type {
		width: 100%;
		height: auto;
	}

	.jobtitle {
		white-space: normal;
		font-size: 13px;
	}

	.skip-content {
		width: 100%;
		margin: 0;
		left: 0;
	}

	// =section
	// -----------------------------------------------------------------------------

	.section, .footer {
		padding: 20px 10px;
	}

	// =services
	// -----------------------------------------------------------------------------

	.service {
		margin-bottom: 40px;

		.circle {
			margin-bottom: 20px;
		}

		.name {
			font-size: 16px;
		}

		.description {
			font-size: 14px;
		}
	}

	// =portfolio
	// -----------------------------------------------------------------------------

	#portfolio {
		margin: 0 0 20px 0;
		background: #333;

		.project {
			width: 100%;

			&:after {
				display: none;
			}

			.img {
				width: 100%;
				max-width: 300px;
				height: auto;
				max-height: 200px;
			}

			.name {
				width: 100%;
				font-size: 16px;
			}
		}
	}

	// =experience
	// -----------------------------------------------------------------------------

	.education, .certification, .experience {
		margin-bottom: 20px;

		.name {
			font-size: 16px;
		}

		.time {
			font-size: 14px;
		}
	}

	// =footer
	// -----------------------------------------------------------------------------

	.footer {
		a {
			display: block;
			margin: 0 0 10px 0;
			padding: 20px;
		}

		.to-top {
			display: block;
			width: auto;
			margin: 0;
			padding: 7px 20px;
		}
	}

}
